.game-admin-button {
    width: 10%;
}

.game-admin-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    /* border: 1px solid green; */
    width: 100%;
}

.game-admin-buttons[hidden] {
    display: none;
}

.game-view {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    height: 100%;
    /* border: 1px solid purple; */
    /* height: 700px; */
    /* height: 100%; */
}

.game-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game-header > span {
    text-align: center;
}

.tag-view {
    display: grid;
    grid-template-rows: 15% 70% 15%;
    grid-auto-columns: 100%;
    /* border: 1px solid #0000ec; */
    height: 100%;
    overflow: hidden;
    border: 1px solid #535bf2;
}

.tag-view > div {
    grid-column: 1;
    grid-row-end: span 2;

    border: 1px solid #a05612;
}

.tag-view > div:nth-child(1) {
    grid-row-start: 1;
    z-index: 1;
}

.tag-view > div:nth-child(2) {
    grid-row-start: 2;
    z-index: 0;
}

.game-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.player-details-table {
    display: grid;
    grid-auto-flow: row;
    width: 90%;
}

.player-details-table .row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.player-details-table .header {
    /* font-weight: bold; */
}

.player-details-table .cell {
    padding: 0.2em;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
}

.player-details-table .sorted {
    display: flex;
    flex-direction: row;
}

.player-details-table .cell.sorted > span {
    font-weight: bold;
}
