.game-admin-button {
    width: 10%;
}

.game-admin-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    /* border: 1px solid green; */
    width: 100%;
}

.game-admin-buttons[hidden] {
    display: none;
}

.game-view {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    height: 100%;
    /* border: 1px solid purple; */
    /* height: 700px; */
    /* height: 100%; */
}

.game-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag-view {
    display: grid;
    grid-auto-rows: 70% 30%;
    /* border: 1px solid #0000ec; */
    height: 100%;
    overflow: hidden;
}
