/* Root styles */

body {
    margin: 0;
    max-height: 100vh;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }
}

#root {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    margin: 0;
}

.App {
    /* width: 100%; */
    /* border: 1px solid black; */
    display: grid;
    height: 100%;
    grid-template-rows: 60px 1fr;
}

.header {
    grid-row: 1;
    text-align: center;
}

.main {
    grid-row: 2;
    /* border: 1px solid #de0007; */
}

.landing {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

/* Common styles */

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moderate-gap {
    gap: 1em;
}

input[type="text"] {
    width: 80%;
    border-radius: 8px;
    border: 1px solid #ad0088;
    font-size: 1em;
    text-align: center;
    color: #656567;
}

input[type="text"]:focus,
input[type="text"]:focus-visible {
    border-radius: 8px;
    border-color: #0000ec;
    color: #656567;
    outline: 0;
}

button {
    border-radius: 8px;
    border: 1px solid #ad0088;
    padding: 0.2em 0.4em;
    font-size: 1em;
    font-family: inherit;
    background-color: #f2f2f2;
    transition: border-color 0.5s;
    box-sizing: content-box;
    width: 80%;
    text-align: center;
}

button:disabled {
    border-radius: 8px;
    border-color: #454545;
}

button:hover:enabled {
    border-color: #646cff;
    cursor: pointer;
}

button:focus:enabled,
button:focus-visible:enabled {
    border-color: #4047c8;
    background-color: #e8e8e8;
}

.button-pair {
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 80%;
}

.button-pair>button {
    width: 40%;
}

select {
    border-radius: 8px;
    border: 1px solid #ad0088;
    padding: 0.2em 0.4em;
    font-size: 1em;
    font-family: inherit;
    background-color: #f2f2f2;
    transition: border-color 0.5s;
    box-sizing: content-box;
    width: 80%;
    text-align: center;
}

.clickable-text {
    cursor: pointer;
    color: #0003c3
}

.clickable-text:hover {
    cursor: pointer;
    color: #000142
}

.title {
    font-weight: bold;
    color: #8500e4
}

/* More specific element styles */

.log-out-button {
    width: 10%;
}

input.login-text {
    width: 90%;
    font-size: 2em;
}

.logged-in-text {
    font-style: italic;
}