#root {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    margin: 0;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flex-column {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    align-items: center;
}

.moderate-gap {
    gap: 1em;
}

.App {
    /* width: 100%; */
    /* border: 1px solid black; */
    display: grid;
    height: 100%;
    grid-template-rows: 60px 1fr;
}

.header {
    grid-row: 1;
    text-align: center;
}

.main {
    grid-row: 2;
    /* border: 1px solid #de0007; */
}

input[type="text"] {
    width: 80%;
    border-radius: 8px;
    border: 1px solid #ad0088;
    font-size: 1em;
    text-align: center;
    color: #656567;
}

button {
    border-radius: 8px;
    border: 1px solid #ad0088;
    padding: 0.2em 0.4em;
    font-size: 1em;
    font-family: inherit;
    background-color: #f2f2f2;
    transition: border-color 0.5s;
    box-sizing: content-box;
    width: 80%;
    text-align: center;
}

.log-out-button {
    width: 10%;
}

select {
    border-radius: 8px;
    border: 1px solid #ad0088;
    padding: 0.2em 0.4em;
    font-size: 1em;
    font-family: inherit;
    background-color: #f2f2f2;
    transition: border-color 0.5s;
    box-sizing: content-box;
    width: 80%;
    text-align: center;
}

.user-grid button, select {
    height: 25px;
}

button:disabled {
    border-radius: 8px;
    border: 1px solid #454545;
}

button:hover:enabled {
    border-color: #646cff;
    cursor: pointer;
}

button:focus:enabled,
button:focus-visible:enabled {
    border-color: #4047c8;
    background-color: #e8e8e8;
}

.button-pair {
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 80%;
}

.button-pair>button {
    width: 40%;
}

input.login-text {
    width: 90%;
    font-size: 2em;
}

.login-text:focus,
.login-text:focus-visible {
    width: 90%;
    border-radius: 8px;
    border: 4px solid #ad0088;
    font-size: 2em;
    text-align: center;
    color: #656567;
    outline: 0;
}

.game-admin-button {
    width: 10%
}

.game-admin-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    /* border: 1px solid green; */
    width: 100%
}

.game-admin-buttons[hidden] {
    display: none;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
}

h1 {
    font-size: 3em;
    line-height: 1.1;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }
}


.logged-in-text {
    font-style: italic;
}

.clickable-text {
    cursor: pointer;
    color: #0003c3
}

.clickable-text:hover {
    cursor: pointer;
    color: #000142
}

.root-scroller-button {
    display: inline-block
}

.landing {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.game-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.game-view {
    display: grid;
    grid-template-rows: 75px 1fr;
    align-items: center;
    /* border: 1px solid purple; */
    height: 100%;
    overflow: hidden;
}

.game-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid purple; */
    height: 100%;
    overflow: hidden;
    grid-row: 1;
}

.tag-view {
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

.user-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.user-grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    width: 80%;
    align-items: center;
}

.user-grid-row>div:nth-last-child(-n + 2) {
    text-align: center;
}

/* .user-grid-row>div:nth-child(1) {
    grid-column: 1;
}

.user-grid-row>div:nth-child(2) {
    grid-column: 2;
}

.user-grid-row>div:nth-child(3) {
    grid-column: 3;
} */

.title {
    font-weight: bold;
    color: #8500e4
}

.latest-tag-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    /* align-items: top; */
    /* border: 1px solid #00ff00; */
    border-radius: 20px;
    background-color: white;
    box-sizing: border-box;
}

.tag-scroller {
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: 10% 10% 60% 10% 10%;
    grid-auto-rows: 100%;
    /* border: 1px solid #ff0000; */
    /* overflow: scroll; */
    position: relative;
}

.minimized {
    height: 100px;
}

.tag-scroller>div {
    grid-row: 1;
    grid-column-end: span 3;
}

.tag-scroller>div:nth-child(1) {
    grid-column-start: 1;
    z-index: 0;
}

.tag-scroller>div:nth-child(2) {
    grid-column-start: 2;
    z-index: 1;
}

.tag-scroller>div:nth-child(3) {
    grid-column-start: 3;
    z-index: 0;
}

/* .subtag-scroller {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #0011ff;
    box-sizing: border-box;
} */

.tag {
    border-radius: 20px;
    display: grid;
    grid-template-rows: 80% 1fr;
    box-shadow: 15px 15px 5px rgb(143, 143, 143);
    /* border: 1px solid #ff0000; */
    box-sizing: border-box;
    overflow: hidden;
    /* height: 700px; */
    height: 100%;
    background-color: #e8e8e8;
    text-align: center;
}

.add-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.tag-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-tag {
    border-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    background-color: #ececec;
    box-shadow: 15px 15px 5px rgb(143, 143, 143);
    gap: 0.25em;
    /* width: 100%; */
    border: 1px solid #000000;
    box-sizing: border-box;
}

/* .minimal-tag-image-container {
    width: 100%;
    height: 100%;
    background-color: white;
} */

.tag-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clickable-tag {
    background-color: #bcbcbc;
}

.clickable-tag:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

.clickable-tag:hover .tag-image {
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
}

.subtag {
    border-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    background-color: #ececec;
    box-shadow: 15px 15px 5px rgb(143, 143, 143);
    border: 1px solid #ff8000;
    box-sizing: border-box;
}

.tag-title {
    font-size: 1.5em;
    font-weight: 500;
}

.tag-contents {
    font-size: 1.2em;
    font-weight: 400;
    font-style: italic;
    color: #0058fb;
}



.minimal-tag .tag-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.minimal-tag .subtag-title {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0.5em;
}

.tag-creator {
    color: #535bf2;
    font-size: 1.1em;
}

.tag-points {
    color: #fb0000;
    font-size: 1.1em;
}

.tag-input {
    border-radius: 10px;
    color: #515151;
    text-align: center;
    border-width: 0;
    font-size: 1em;
    font-style: italic;
}

.location-input {
    font-size: 1.5em;
}

.contents-input {
    font-size: 1.2em;
}