#root {
    max-width: 100%;
    height: 100vh;
    overflow: scroll;
    margin: 0 auto;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.moderate-gap {
    gap: 1em;
}

.App {
    /* width: 100%; */
    border: 1px solid black;
}

.login-text {
    width: 90%;
    border-radius: 8px;
    border: 1px solid #ad0088;
    font-size: 2em;
    text-align: center;
    color: #656567;
}

.login-text:focus,
.login-text:focus-visible {
    width: 90%;
    border-radius: 8px;
    border: 4px solid #ad0088;
    font-size: 2em;
    text-align: center;
    color: #656567;
    outline: 0;
}

.login-button {
    width: 40%
}

.login-buttons {
    display: flex;
    justify-content: center;
    gap: 5%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid #ad0088;
    padding: 0.2em 0.4em;
    font-size: 1em;
    font-family: inherit;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    border-color: #4047c8;
    background-color: #e8e8e8;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }
}

input[type="button"] {
    text-align: center;
}

.logged-in-text {
    font-style: italic;
}

.clickable-text:hover {
    cursor: pointer;
    color: #000266
}

.root-scroller-button {
    display: inline-block
}

.landing {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.game-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex>div {
    flex: 1 0 0;
}

.flex>div:nth-child(1) {
    text-align: center;
}

.game-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-tag-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    /* align-items: top; */
    border: 1px solid #00ff00;
    border-radius: 20px;
    background-color: white;
    box-sizing: border-box;
}

/* .root-tag-scroller {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #ff0000;
    box-sizing: border-box;
} */

.root-tag-scroller {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 10% 60% 10% 10%;
    border: 1px solid #ff0000;
    /* overflow: scroll; */
    position: relative;
}

.root-tag-scroller>div {
    grid-row: 1;
    grid-column-end: span 3;
    height: 100%
}

/* .root-tag-scroller>div:nth-child(odd) {} */

.root-tag-scroller>div:nth-child(1) {
    grid-column-start: 1;
    z-index: 0;
}

.root-tag-scroller>div:nth-child(2) {
    grid-column-start: 2;
    z-index: 1;
}

.root-tag-scroller>div:nth-child(3) {
    grid-column-start: 3;
    z-index: 0;
}

.subtag-scroller {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #0011ff;
    box-sizing: border-box;
}

.tag {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 15px 15px 5px rgb(143, 143, 143);
    gap: 0.25em;
    border: 1px solid #ff0000;
    box-sizing: border-box;
    overflow: hidden;
    height: 50%
}

.main-tag {
    border-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    background-color: #ececec;
    box-shadow: 15px 15px 5px rgb(143, 143, 143);
    gap: 0.25em;
    /* width: 100%; */
    border: 1px solid #000000;
    box-sizing: border-box;
}

/* .main-tag.add-tag {
    border: 1px solid #00ff00;
    width: 33%
} */

/* .main-tag img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.subtag img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.minimal-tag img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
} */

.tag-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.subtag {
    border-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    background-color: #ececec;
    box-shadow: 15px 15px 5px rgb(143, 143, 143);
    border: 1px solid #ff8000;
    box-sizing: border-box;
}

.tag-title {
    font-size: 1.5em;
    font-weight: 500;
}

.tag-contents {
    font-size: 1.2em;
    font-weight: 400;
    font-style: italic;
    color: #0058fb;
}

.clickable-tag {
    background-color: #bcbcbc;
}

.clickable-tag:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

.minimal-tag .tag-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.minimal-tag .subtag-title {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0.5em;
}

.tag-creator {
    color: #535bf2;
    font-size: 1.1em;
}

.tag-points {
    color: #fb0000;
    font-size: 1.1em;
}

.tag-input {
    border-radius: 10px;
    color: #515151;
    text-align: center;
    border-width: 0;
    font-size: 1em;
    font-style: italic;
}

.location-input {
    font-size: 1.5em;
}

.contents-input {
    font-size: 1.2em;
}